body{
    background-color: rgb(0, 15, 0);
}



/*BANNER*/
.banner{
    color: green;
    font-weight: bolder;
}





/* CARDS */
.card {
    position: relative;
    border: none;
    transition: background-color 0.3s ease;
    overflow: hidden;
    cursor: pointer; 
    background-color: rgb(0, 121, 0);
    width: 12%;
    height: 10%;
    margin-bottom: 1%;
}
.card-body{
    padding: 5% 0;
}

.card-title{
    font-weight: bold;
    font-size: large;
    min-height: 7vh !important;
}
.card:hover{
    background-color: rgb(221, 151, 0);
}




/* PHOTOS */
.imgSize_regular{
    width: 90%;
}
.imgCenter{
    justify-content: center;
}
.miniPhoto{
    position: absolute;
    top: 80%;
    left: 38%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
}




/* BUTTONS */
.btn-clear{
    background-color: rgb(0, 121, 0);
    width: 20%;
    height: 10%;
    font-weight: bold;
    font-size: x-large;
    transition: background-color 0.3s ease;
}
.btn-clear:hover{
    background-color: rgb(2, 97, 2);
}




/* OVERLAY X */
.overlay-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -35%);
    font-size: 120px;
    font-weight: bolder;
    color: red;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.overlay-text.active {
    opacity: 1;
}
.active-bg {
    background-color: rgb(175, 29, 29) !important;
}





.Tier{
    font-size: 80px;
    font-weight: bold;
    max-width: 5.5vw;
}

